.footer{
  background: #01959a;
  padding: 4rem 6rem 0;
  color: #fff;
}

.footer .top{
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .top-right{
  display: flex;
}

.top-right span{
  color: #fff;
  padding: 0 10px;
}

.top-right a{
  display: block;
}

.top-right span a i{
  display: block;
  font-size: 2rem;
  background: #01959a;
  padding: 8px;
}

.top-right i:hover{
  color: #fff;
  @apply shadow-lg shadow-[0_2px_4px_rgba(0,0,0,0.1)];
}

.bottom{
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div{
  display: flex;
  flex-direction: column;
}

.bottom h2{
  font-size: 1.3rem;
  padding: 1rem 0 .8rem 0;
}

.bottom a{
  text-decoration: none;
  color: #fafafa;
  padding-bottom: .4rem;
  font-size: 1rem;
}

.copyright{
  width: 100%;
  margin-top: 30px;
  padding: 20px 0;
  display: inline-block;
  border-top: 1px solid #f5f5f5;
}

@media screen and (max-width:850px) {
  .footer{
    padding: 4rem 2rem 0;
  }

  .footer i{
    margin: 1rem 1rem 0 0;
  }

  .bottom div{
    width: 50%;
    margin-bottom: 15px;
  }
}