.places-wrapper{
  margin: 4rem 6rem;
}

.places-wrapper h1{
  font-size: 2.5rem;
}

.places-wrapper ul{
  list-style: none;
}

.destination-one{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.destination-one-reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

.description-text{
  width: 45%;
  text-align: start;
  font-size: 1rem;
}

.description-text h2{
  padding-bottom: 1rem;
}

.image{
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.image img{
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(2){
  position: absolute;
  top: -10%;
  right: 0;
}

@media screen and (max-width: 850px){
  .places-wrapper{
    margin: 4rem 1rem;
  }

  .destination-one{
    display: flex;
    flex-direction: column-reverse;
  }

  .destination-one-reverse{
    display: flex;
    flex-direction: column-reverse;
  }

  .description-text{
    width: 100%;
  }

  .image{
    width: 100%;
    margin: 1.8rem 0;
  }
}