@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.App{
  text-align: center;
}

.heading{
  @apply text-[#01959a] font-light md:text-[3.5rem] max-[767px]:text-[1.6rem];
}

.subtitle{
  @apply text-[#01959ac2] md:text-[1.1rem];
}
